.selectWrapper {
    position: relative;
    display: inline-block;
}

.selectorContainer {
    position: relative;
    width: 300px;
    font-family: var(--font-family);
}

.selectedValue {
    padding: 0.75rem 1rem;
    background-color: var(--white-color);
    border: 1px solid var(--black-color);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    transition: transform 0.2s ease-in-out;
}

.arrow.open {
    transform: rotate(180deg);
}

.optionsList {
    position: absolute;
    top: 105%;
    left: 0;
    width: 100%;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

optionItem {
    padding: 0.75rem 1rem;
    cursor: pointer;
}

.optionItem:hover {
    background-color: var(--surface-color);
}