:root {
    --red-color: #e10600;
    --grey-color: #949498;
    --white-color: #ffffff;
    --black-color: #15151e;
    --light-grey-color: #F0F0F0;
}

* { margin: 0; padding: 0; box-sizing: border-box; }
