@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

:root {
    --red-color: #e10600;
    --grey-color: #949498;
    --white-color: #ffffff;
    --black-color: #15151e;
    --light-grey-color: #F0F0F0;
    background-color: transparent;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    color: var(--black-color);
    background-color: #15151e;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
