@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

:root {
    --red-color: #e10600;
    --grey-color: #949498;
    --white-color: #ffffff;
    --black-color: #15151e;
    --light-grey-color: #F0F0F0;
    background-color: transparent;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    color: var(--black-color);
    background-color: #15151e;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.baseCard {
    color: var(--black-color);
    background: var(--white-color);
    border-radius: 16px;
    border: 1px solid #e0e0e0;
    padding: 24px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    gap: 20px;
}